@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


/* ----------------------------------------------------------------------------------------
 navbar
---------------------------------------------------------------------------------------- */

nav {
    /* background-color: #425664; */
    height: 60px;
    overflow: hidden;
    width: 100%;
    /* border-bottom: 1px solid #425664; */
    /* position: fixed; */
}

.comapnyname {
    color: white;
    font-weight: bolder;
    /* margin: 20px 0px 0px 10px; */
}

.navbar {
    float: right;
}

nav a {
    text-decoration: none;
    padding: 21px 26px;
    color: #425664;
    font-weight: 600px;
    letter-spacing: 2px;
    float: left;
    font-weight: 600;
    /* background-color: #425664; */
}

.navbar a:hover {
    /* background-color: white; */
    color: #313436;
    font-weight: bold;
    /* font-size: 18px; */
    letter-spacing: 4px;
    transition: 300ms ease-in-out;
}

.active {
    /* background-color: white; */
    color: #425664;
    text-decoration: underline;
    text-underline-position: under;
    font-size: large;
    font-weight: 700;
}


/* ----------------------------------------------------------------------------------------
 Title content
---------------------------------------------------------------------------------------- */

.col {
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.colele1 {
    margin-top: 50px;
    margin-left: 30px;
    font-size: 30px;
    padding: 20px;
    /* background-color: rgb(250, 250, 42); */
    border-top-right-radius: 2000px;
    border-bottom-right-radius: 2000px;
    margin-right: 20px;
}

.colele1 p {
    margin-left: 12px;
    font-size: 16px;
    margin-top: 50px;
}


/* ----------------------------------------------------------------------------------------
    Laptops
---------------------------------------------------------------------------------------- */

.items {
    margin: 30px 120px;
}

.itemsheading {
    justify-content: center;
    display: flex;
    padding: 20px;
    height: 100px;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
}

.card {
    margin-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 20px;
    display: grid;
    grid-template-columns: 27% 73%;
}

.image img {
    height: 260px;
    width: 300px;
}

.card h2,
h3 {
    padding: 3px;
}

.price {
    color: rgb(24, 196, 24);
}

li {
    margin: 5px;
    display: none;
}

.desc a {
    text-decoration: none;
    letter-spacing: 1px;
    color: blue;
    font-weight: 600;
}

livisible {
    visibility: visible;
}

button {
    margin: 20px;
    background-color: #268cec;
    border: none;
    border-radius: 14px;
    height: 35px;
    width: 180px;
    color: white;
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: bold;
}

button:hover {
    background-color: #479be9;
    font-weight: bold;
    cursor: pointer;
}

h5 {
    font-size: 16px;
}

span {
    text-decoration: line-through;
    margin-right: 5px;
    font-size: 13.5px;
}