* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #F6F4F2;
}

.signin {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    /* background-color: blue; */
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    height: 500px;
    width: 400px;
    justify-content: center;
    padding: 20px;
}

.content {
    /* margin-left: 50px; */
    /* margin-top: 50px; */
    text-align: center;
}

input {
    border: none;
    background-color: whitesmoke;
    border-bottom: 1px solid black;
    padding: 10px;
    outline: none;
    height: 30px;
    width: 280px;
    font-size: 17px;
    text-align: center;
}

.signinform {
    display: grid;
    /* grid-template-rows: 1fr 1fr 1fr; */
    margin-bottom: 30px;
    justify-content: center;
}

.signrow {
    margin-bottom: 30px;
}

.error {
    color: red;
}


/* .customername,
.email,
.password .user,
.username,
.password,
#username,
#repassword,
#submit {
    margin-bottom: 40px;
} */

button {
    /* justify-content: center; */
    border: none;
    border-radius: 13px;
    width: 200px;
    height: 35px;
    background-color: #425664;
    color: white;
    font-size: 17px;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #425664;
    font-size: 16px;
}